@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Gamers!</h1>

<p>Welcome to the Guitar Hero 3 Leaderboard!</p>
<p>Here, you can add, modify, or delete your scores, while viewing who is currently leading!</p>

<p>To start experiencing what we have to offer, create an account, or log in. If you're just a guest, you can only view!</p>



