@page "/user-settings"
@using LeaderboardApp.Models

<PageTitle>User Settings</PageTitle>

<h3>UserSettings</h3>

@code {
	//okay so user settings will display a "login" or "signup" button. the login will take you to a login page, 
	// and the signup will take you to a signup page. these will be routable. Then when youre logged in you can see your stuff, edit whatever.
	//sign out button. 

}
